<div class="bg-light row col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <div class="col-sm-10">Send Money</div>
  <div class="col-sm-2"><button type="submit" class="btn btn-primary btn-block" (click)="addFriend()"> Add Connection
    </button></div>
</div>

<div class="bg-light row col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <form class="form-inline" [formGroup]="connectionForm" (submit)="onSubmit()">
    <div class="form-group mb-2">
        <select class="form-control form-control-sm custom-select custom-select-sm" name="connection"
          formControlName="connection">
          <option value="">Select A Connection</option>
          <option *ngFor="let connection of connections; let i = index" value="{{ connection.appAccountDto.email }}">{{connection.appAccountDto.email}}
          </option>
        </select>
            </div>
    <div class="form-group mx-sm-3 mb-2">
      <input type="number" class="form-control" formControlName="amount" id="inputAmount" placeholder="0€">
    </div>
    <button type="submit" class="btn btn-success mb-2" [disabled]="connectionForm.invalid">Pay</button>
  </form>
    
</div>

<div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">My Transactions</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Connections</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of listTransactions">
          <td>{{t.firstName}}</td>
          <td>{{t.description}}</td>
          <td>{{t.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>