<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse">
        <a class="navbar-brand" href="#">Pay My Buddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    
    <div class="navbar navbar-expand-sm bg-light">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      Home
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Transfer
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      Deposit Amount
                    </a>
                <li class="nav-item">
                      <a class="nav-link" href="#">
                        Debit My PMB
                      </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void()" (click)='logout()'>
                      Log off
                    </a>
                </li>
            </ul>
    </div>
</nav>

